img {
  float:left;
  max-width: 23%;
  height: auto;
  margin: 30px;
}
 h1 {
   text-align: center;
   color: #030f40;
 }
p {
  text-align: center;
  font-size: 18px;
  font-family: Arial;
}

.sidebar {
  position:fixed;
  height:100%;
  width:6%;
  background-color: salmon;
  padding-top: 30px;
  padding-left: 20px;
}

.bottombar {
  position: absolute;
  background-color: salmon;
  height: 12%;
  width: 100%;
}

small {
  font-style: italic;
  text-align: center;
}
.large {
  font-size: 42px;
  font-weight: bold;
  font-family: sans-serif;
}
.image2 {
  float:right;
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;

}

.image3 {
  float:right;
  margin-right: 50%;
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}

.medium {
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 3000px) {
  body {
    background-color: #FFA500;
  }
}
@media screen and (max-width: 3000px) {
  .well {
    background-color: #e3deab;
  }
}
