img {
  float:left;
  max-width: 23%;
  height: auto;
  margin: 30px;
}

body, html {
  height: 100%
}

.bg {
  background-image: url("image/portlandcityscape.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
