img {
  float:left;
  max-width: 23%;
  height: auto;
  margin: 30px;
}
 h1 {
   text-align: center;
   color: #030f40;
 }
p {
  text-align: center;
  font-size: 18px;
  font-family: Arial;
}

.sidebar {
  height: 100%;
  width: 120px;
  position: absolute;
  background-color: salmon;
  padding-top: 30px;
}

small {
  font-style: italic;
  text-align: center;
}
